img{
    width: 30%;
    height: 30%;
    margin: 5px;
}
#container1{
    height: 700px;
    width: 700px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    
    overflow: hidden;
   
}
img:hover{
    transform: scale(4);
}